@model Ludo.Models.ViewModels._GameViewModel
@{


    var color = "";
    switch (Model.PlayerId)
    {
        case 0:
            color = @"Blue";
            break;
        case 1:
            color = @"Yellow";
            break;
        case 2:
            color = @"Red";
            break;
        case 3:
            color = @"Green";
            break;

    }

    if (Model.BrickId >= 0)
    {
        <div class="marker-container">
            @{
                if (Model.Active)
                {
                    <a href="@Url.Action("Move", new { playerId = Model.PlayerId, brickId = Model.BrickId })">
                        <div class="player-head @color-Player"></div>
                        <div class="player-body @color-Player"></div>
                        <div class="player-foot @color-Player"></div>
                    </a>
                }
                else
                {
                    <div class="player-head @color-Player"></div>
                    <div class="player-body @color-Player"></div>
                    <div class="player-foot @color-Player"></div>
                }
            }
        </div>
    }
}