@model Ludo.Models.GameModel
@{
    //ViewBag.Title = @Model.Game.Name;
    Layout = "~/Views/Shared/_GameLayout.cshtml";

}
@{
    //string name = "";

    //if (@Model.Game.CurrentPlayer != null)
    //{
    //    name = Model.Game.CurrentPlayer.Name;

    //}


}
<div class="custom-container">

    <div class="Blue-Corridor">
        <div class="Block-5"></div>
        <div class="Block-6"></div>
        <div class="Block-7"></div>
        <div class="Block-4"></div>
        <div class="Block-101"></div>
        <div class="Block-200 Block-8"></div>
        <div class="Block-3"></div>
        <div class="Block-102"></div>
        <div class="Block-9"></div>
        <div class="Block-2"></div>
        <div class="Block-103"></div>
        <div class="Block-10"></div>
        <div class="Block-1"></div>
        <div class="Block-104"></div>
        <div class="Block-11"></div>
    </div>

    <div class="Yellow-Corridor">
        <div class="Block-12"></div>
        <div class="Block-13"></div>
        <div class="Block-14"></div>
        <div class="Block-15"></div>
        <div class="Block-16"></div>
        <div class="Block-108"></div>
        <div class="Block-107"></div>
        <div class="Block-106"></div>
        <div class="Block-105"></div>
        <div class="Block-17"></div>
        <div class="Block-22"></div>
        <div class="Block-21"></div>
        <div class="Block-20"></div>
        <div class="Block-201 Block-19"></div>
        <div class="Block-18"></div>
    </div>

    <div class="Red-Corridor">
        <div class="Block-33"></div>
        <div class="Block-112"></div>
        <div class="Block-23"></div>
        <div class="Block-32"></div>
        <div class="Block-111"></div>
        <div class="Block-24"></div>
        <div class="Block-31"></div>
        <div class="Block-110"></div>
        <div class="Block-25"></div>
        <div class="Block-202 Block-30"></div>
        <div class="Block-109"></div>
        <div class="Block-26"></div>
        <div class="Block-29"></div>
        <div class="Block-28"></div>
        <div class="Block-27"></div>
    </div>

    <div class="Green-Corridor">
        <div class="Block-40"></div>
        <div class="Block-203 Block-41"></div>
        <div class="Block-42"></div>
        <div class="Block-43"></div>
        <div class="Block-44"></div>
        <div class="Block-39"></div>
        <div class="Block-113"></div>
        <div class="Block-114"></div>
        <div class="Block-115"></div>
        <div class="Block-116"></div>
        <div class="Block-38"></div>
        <div class="Block-37"></div>
        <div class="Block-36"></div>
        <div class="Block-35"></div>
        <div class="Block-34"></div>
    </div>

    <div class="Green-Home">
        <div class="player-name"></div>
        <div class="Green-Base">
            <div class="Block-601">
                @*Model.Game.Players[3].Name;*@
            </div>
            <div class="Block-602">
                @*Model.Game.Players[3].Name;*@
            </div>
            <div class="Block-603">
                @*Model.Game.Players[3].Name;*@
            </div>
            <div class="Block-604">
                @*Model.Game.Players[3].Name;*@
            </div>
        </div>
        <div class="dice-result"></div>
    </div>

    <div class="Blue-Home">
        <div class="player-name">name</div>
        <div class="Blue-Base">
            <div class="Block-605">
                @*Model.Game.Players[0].Name;*@

            </div>

            <div class="Block-606">
                @*Model.Game.Players[0].Name;*@
            </div>
            <div class="Block-607">
                @*Model.Game.Players[0].Name;*@
            </div>
            <div class="Block-608">
                @*Model.Game.Players[0].Name;*@
            </div>
        </div>
        <div class="dice-result">Dice rolls: 6</div>
    </div>
    <div class="Yellow-Home">
        <div class="player-name">name</div>
        <div class="Yellow-Base">
            <div class="Block-609">
                <div class="marker-container">
                    <a href="#">
                        <div class="player-head Blue-Player"></div>
                        <div class="player-body Blue-Player"></div>
                        <div class="player-foot Blue-Player"></div>
                    </a>
                </div>
            </div>
            <div class="Block-610">
                <div class="marker-container">
                    <a href="#">
                        <div class="player-head Blue-Player"></div>
                        <div class="player-body Blue-Player"></div>
                        <div class="player-foot Blue-Player"></div>
                    </a>
                </div>
            </div>
            <div class="Block-611">
                <div class="marker-container">
                    <a href="#">
                        <div class="player-head Blue-Player"></div>
                        <div class="player-body Blue-Player"></div>
                        <div class="player-foot Blue-Player"></div>
                    </a>
                </div>
            </div>
            <div class="Block-612">
                <div class="marker-container">
                    <a href="#">
                        <div class="player-head Blue-Player"></div>
                        <div class="player-body Blue-Player"></div>
                        <div class="player-foot Blue-Player"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="dice-result">Dice rolls: 6</div>
    </div>
    <div class="Red-Home">
        <div class="player-name"></div>
        <div class="Red-Base">
            <div class="Block-613"></div>
            <div class="Block-614"></div>
            <div class="Block-615"></div>
            <div class="Block-616"></div>
        </div>
        <div class="dice-result"></div>
    </div>

    <div class="Middle-Circle">
        <p>Current player:</p>
        <p id="PlayerName">name</p>
    </div>
</div>
