@model Ludo.Models.ViewModels.JoinGameViewModel

@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

@using (Html.BeginForm("Join", "Game", FormMethod.Post))
{
    <div class="form-group">
        <label for="gameId">Enter Game Id</label>
        <input type="text" class="form-control" name="gameId" id="gameId" placeholder="#345678">
    </div>
    <input type="submit" class="btn btn-success mb-2" value="Join" />
}

