@model Ludo.Models.ViewModels.GameListing

@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">ID of the game?</label>
      <input type="text" class="form-control" id="IDOfTheGame" placeholder="#345678">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm</button>
  </form>