@model Ludo.Models.ViewModels.NewGameViewModel

@{
    ViewBag.Title = "New Game";
}


@using (Html.BeginForm("New", "Game", FormMethod.Post))
{
    <div class="container">
        <div class="col-sm">
            <div class="form-group">
                
                <label class="text-white" for="name">Name of the game?</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="AwesomeGamenr1">
            </div>
            <div class="form-group">
                
                <label class="text-white" for="noPlayers">Number of players</label>
                <select class="form-control" id="noPlayers" name="noPlayers">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
                
            <input type="submit" class="btn btn-success mb-2" value="Create" />
            <!-- <button type="submit" class="btn btn-success mb-2">Create</button -->
        </div>
        <div class="col-sm"> </div>
        <div class="col-sm"> hej</div>
    </div>

}




