@{
    ViewBag.Title = "Creators";
    ViewBag.Active4 = "active";
}

<div class="inner cover text-center">
    <div class="bg-dark About">
        <h2>
            <span style="font-size: 1.8rem">string[]</span>
            Creators = <br />{
            <span style="font-size: 1.8rem">Erolss </span> <a href="https://github.com/erolss">GitHub</a>,
            <span style="font-size: 1.8rem">LundgrenRobert </span> <a href="https://github.com/LundgrenRobert">GitHub</a>,
            <span style="font-size: 1.8rem">Zilver </span> <a href="https://github.com/ZilverCoder">GitHub</a> };
        </h2>
    </div>
</div>