@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active1 = "active";
}

<div class="inner cover text-center coverWelcome">
    <h1 class="cover-heading">Welcome to Ludo!</h1>
    <p class="lead">
        Ludo or 'Pachisi' as it was originally called originated in India from the 6th century. This game was played by the Mughal emperors of India.
        This game then went on to be adapted by many countries in their own way and what we have on our site is the one of those modern versions!
    </p>
    <p class="lead">
        <a href="../Game/New" class="btn btn-lg btn-secondary">Let's play!</a>
    </p>
</div>