@{ 
    ViewBag.Title = "Home Page";
}

<div class="custom-container">

  <div class="Blue-Corridor">
    <div class="Block-1"></div>
    <div class="Block-2"></div>
    <div class="Block-3"></div>
    <div class="Block-4"></div>
    <div class="Block-5" id="BlueFinalLine"></div>
    <div class="Block-6" id="BlueEntrance"></div>
    <div class="Block-7"></div>
    <div class="Block-8" id="BlueFinalLine"></div>
    <div class="Block-9"></div>
    <div class="Block-10"></div>
    <div class="Block-11" id="BlueFinalLine"></div>
    <div class="Block-12"></div>
    <div class="Block-13"></div>
    <div class="Block-14" id="BlueFinalLine"></div>
    <div class="Block-15"></div>
  </div>

  <div class="Yellow-Corridor">
    <div class="Block-16"></div>
    <div class="Block-17"></div>
    <div class="Block-18"></div>
    <div class="Block-19"></div>
    <div class="Block-20"></div>
    <div class="Block-21" id="YellowFinalLine"></div>
    <div class="Block-22" id="YellowFinalLine"></div>
    <div class="Block-23" id="YellowFinalLine"></div>
    <div class="Block-24" id="YellowFinalLine"></div>
    <div class="Block-25"></div>
    <div class="Block-26"></div>
    <div class="Block-27"></div>
    <div class="Block-28"></div>
    <div class="Block-29" id="YellowEntrance"></div>
    <div class="Block-30"></div>
  </div>

  <div class="Red-Corridor">
    <div class="Block-31"></div>
    <div class="Block-32" id="RedFinalLine"></div>
    <div class="Block-33"></div>
    <div class="Block-34"></div>
    <div class="Block-35" id="RedFinalLine"></div>
    <div class="Block-36"></div>
    <div class="Block-37"></div>
    <div class="Block-38" id="RedFinalLine"></div>
    <div class="Block-39"></div>
    <div class="Block-40" id="RedEntrance"></div>
    <div class="Block-41" id="RedFinalLine"></div>
    <div class="Block-42"></div>
    <div class="Block-43"></div>
    <div class="Block-44"></div>
    <div class="Block-45"></div>
  </div>

  <div class="Green-Corridor">
    <div class="Block-46"></div>
    <div class="Block-47" id="GreenEntrance"></div>
    <div class="Block-48"></div>
    <div class="Block-49"></div>
    <div class="Block-50"></div>
    <div class="Block-51"></div>
    <div class="Block-52" id="GreenFinalLine"></div>
    <div class="Block-53" id="GreenFinalLine"></div>
    <div class="Block-54" id="GreenFinalLine"></div>
    <div class="Block-55" id="GreenFinalLine"></div>
    <div class="Block-56"></div>
    <div class="Block-57"></div>
    <div class="Block-58"></div>
    <div class="Block-59"></div>
    <div class="Block-60"></div>
  </div>

  <div class="Green-Home"></div>
  <div class="Blue-Home"></div>
  <div class="Yellow-Home"></div>
  <div class="Red-Home"></div>

  <div class="Middle-Circle">
    <p>Player 1</p>
  </div>
</div>
