<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="style.css" type="text/css" rel="stylesheet"/>
  <title>Document</title>
</head>
<body>

<div class="custom-container">

  <div class="Blue-Corridor">
    <div class="Block-1"></div>
    <div class="Block-2"></div>
    <div class="Block-3"></div>
    <div class="Block-4"></div>
    <div class="Block-5" id="BlueFinalLine"></div>
    <div class="Block-6" id="BlueEntrance"></div>
    <div class="Block-7"></div>
    <div class="Block-8" id="BlueFinalLine"></div>
    <div class="Block-9"></div>
    <div class="Block-10"></div>
    <div class="Block-11" id="BlueFinalLine"></div>
    <div class="Block-12"></div>
    <div class="Block-13"></div>
    <div class="Block-14" id="BlueFinalLine"></div>
    <div class="Block-15"></div>
    <!--<div class="Block-16"></div>
    <div class="Block-17"></div>
    <div class="Block-18"></div>-->
  </div>
  <div class="Yellow-Corridor">
    <div class="Block-19"></div>
    <div class="Block-20"></div>
    <div class="Block-21"></div>
    <div class="Block-22"></div>
    <div class="Block-23"></div>
    <div class="Block-24" id="YellowFinalLine"></div>
    <div class="Block-25" id="YellowFinalLine"></div>
    <div class="Block-26" id="YellowFinalLine"></div>
    <div class="Block-27" id="YellowFinalLine"></div>
    <div class="Block-28"></div>
    <div class="Block-29"></div>
    <div class="Block-30"></div>
    <div class="Block-31"></div>
    <div class="Block-32" id="YellowEntrance"></div>
    <div class="Block-33"></div>
    <!--<div class="Block-34"></div>
    <div class="Block-35"></div>
    <div class="Block-36"></div>-->
  </div>
  <div class="Red-Corridor">
    <div class="Block-37"></div>
    <div class="Block-38" id="RedFinalLine"></div>
    <div class="Block-39"></div>
    <div class="Block-40"></div>
    <div class="Block-41" id="RedFinalLine"></div>
    <div class="Block-42"></div>
    <div class="Block-44"></div>
    <div class="Block-45" id="RedFinalLine"></div>
    <div class="Block-46"></div>
    <div class="Block-47" id="RedEntrance"></div>
    <div class="Block-48" id="RedFinalLine"></div>
    <div class="Block-49"></div>
    <div class="Block-50"></div>
    <div class="Block-51"></div>
    <div class="Block-52"></div>
    <!--<div class="Block-53"></div>
    <div class="Block-54"></div>
    <div class="Block-55"></div>-->
  </div>
  <div class="Green-Corridor">
    <div class="Block-56"></div>
    <div class="Block-57" id="GreenEntrance"></div>
    <div class="Block-58"></div>
    <div class="Block-59"></div>
    <div class="Block-60"></div>
    <div class="Block-61"></div>
    <div class="Block-62" id="GreenFinalLine"></div>
    <div class="Block-63" id="GreenFinalLine"></div>
    <div class="Block-64" id="GreenFinalLine"></div>
    <div class="Block-65" id="GreenFinalLine"></div>
    <div class="Block-66"></div>
    <div class="Block-67"></div>
    <div class="Block-68"></div>
    <div class="Block-69"></div>
    <div class="Block-70"></div>
    <!--<div class="Block-71"></div>
    <div class="Block-72"></div>
    <div class="Block-73"></div>-->
  </div>

  <div class="Green-Home"></div>
  <div class="Blue-Home"></div>
  <div class="Yellow-Home"></div>
  <div class="Red-Home"></div>

  <div class="Middle-Circle">
    <p>Player 1</p>
  </div>
</div>

</body>
</html>
