@{
    ViewBag.Title = "Index";
}

<div class="player-area">
    @for (var y = 1; y < 5; y++) //Change the limiter to the amount of players!
    {
        <div class="Player@y">
            <p class="text-center">Player @y </p><!--Make this one change the name with user input-->

        </div>
    }
</div>

<div class="bg-white" style="padding: 5px;margin-top: 10px;border-radius: 2%;">
    <div class="game-area">
      <div class="Green-Home"></div>
      <div class="blue-corridor">
        @for (var i = 1; i < 19; i++)
        {
            <div class="Block-@i"></div>
        }
      </div>
      <div class="Blue-Home"></div>
      <div class="yellow-corridor"></div>
      <div class="Red-Home"></div>
      <div class="red-corridor"></div>
      <div class="Yellow-Home"></div>
      <div class="green-corridor"></div>
    </div>
</div>

<div>
</div>
