
@{
    ViewBag.Title = "Rules";
    var message = "Hello World";
}

<div class="bg-white" style="padding: 5px;margin-top: 10px;border-radius: 2%;">
    <section>
        <h2>Rules</h2>
        <p>This is where the rules will be listed</p>
        <ol type="I">
            <li>Don't hack it</li>
            <li>Two pawns can't be placed on the same tile</li>
            <li>In the final stage if the dice superseeds the amount of steps you can take your turn is cancelled unless it's your last pawn in which you have 3 turns to get the right number</li>
            <li>If you jump over another players pawn you have "eaten" that pawn and that pawn has to return to he's home</li>
        </ol>
    </section>

    <section><!--Playing around-->
    @ViewBag.Result1
    </section>
</div>